* {
  padding: 0;
  margin: 0;
}
a{
  text-decoration:none;
  color: #333;
}
body {
  background-image: url(../images/bg4.WEBP);
  background-position: center top;
  width:100%;
  max-width: 580px;
  margin: 0 auto;
}
.img-boxs {
  width: 90%;
  margin: 20px auto;
}
.img-boxs h3 {
  color:#ff009a;
  text-align: center;
  /*text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #fff;*/
  margin-bottom: 10px;
  color: transparent;
  -webkit-text-stroke: 1px #ff00ac;
  letter-spacing: 0.04em;
}
.img-group {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.img-group .img-tiem {
  width: 48.5%;
  margin: 4px 0;
  border-radius: 4px;
  overflow: hidden;
  background-color: #fff;
}
.img-group .img-tiem img{
  width: 100%;
}
.img-group .img-tiem p{
  height: 26px;
  line-height: 26px;
  text-indent: 15px;
}
.xuanfu {
  position:absolute;
  bottom: 200px;
  right: 40px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: rgba(255,0,255,.5);
  border-radius: 50%;
  
}
.xuanfu a{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 40%;
  text-align: center;
  color: #fff;
  font-size: 28px;
}
