  * {
         padding: 0;
         margin: 0;
       }
       a{
         text-decoration:none;
         color: #333;
       }
       body {
         background-image: url(../images/bg.jpg);
         background-position: center top;
         width:100%;
         max-width: 580px;
         margin: 0 auto;
       }
       header {
         background-color: rgba(0,0,0,0.0);
         padding: 10px;
         border-radius: 0 0 0px 0px;
         text-align:center;
         color: #ff00a8
       }
       h2 {
         text-align: center;
         color: #ff00ac;
         letter-spacing: 3px;
         text-shadow:2px 0px #fff, 2px 0px #fff, 2px 0px #fff;/*设置文字阴影*/
       }
       @keyframes scaleDraw {
      	/*定义关键帧、scaleDrew是需要绑定到选择器的关键帧名称*/
            0% {
            	transform:scale(1);
            	/*开始为原始大小*/
            } 
            25% {
	             transform:scale(1.2);
             	/*放大1.1倍*/
            }
            50% {
              	transform:scale(1);
            }
            75% {
             	transform:scale(1.2);
            }
      }
      #present {
         height: 28px;
         line-height: 28px;
         font-size: 18px;
      }
      main {
        
        padding: 10px 0px 20px;
        background-color: rgba(0,0,0,0);
      }
      .img-box {
        width: 70%;
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        padding: 10px;
        border-bottom: ;
      }
      .img-box div {    
        line-height: 30px;
        text-align: center;  
        overflow:hidden;
        font-size: 14px;
      }
      .img-box div:nth-child(2){
        
        
        
      }
      .img-box div:nth-child(2) span{
        display: block;
      }
      .img-box div:nth-child(2) span:nth-child(2) {
        text-align: center;
        -webkit-animation-name:scaleDraw;
      	/*关键帧名称*/
        -webkit-animation-timing-function:ease-in-out;
	    /*动画的速度曲线*/
        -webkit-animation-iteration-count:infinite;
	    /*动画播放的次数*/
        -webkit-animation-duration:5s;
	    /*动画所花费的时间*/
        color: red;
        font-size: 18px
      }
      .img-box div img {
        width: 60px;
        hight: 60px;
        border-radius: 30px;
      }
      .text{
        text-align: center;
        padding: 8px;
        color: transparent;
        -webkit-text-stroke: 1px #ff00ac;
        letter-spacing: 0.04em;

      }
      .swiper {
        width: 80%;
        margin: 0 auto;
      }

      .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 300px;
        border-radius:8px;
        overflow: hidden;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 300px;
        margin: 0 auto;
      }
      .box-btn {
        width: 80%;
        display: flex;
        justify-content: space-between;
        margin: 34px auto 20px;
       }
      .box-btn a {
        display: flex;
        flex-wrap: wrap;
        width: 120px;
        padding: 8px 0;
        background-color: rgba(255,255,255,0.6);
        border-radius: 8px;
        
      }
      .box-btn a span:nth-child(1){
        width: 45px;
        height: 45px;
        line-height: 45px;
        text-align: center;
        background-color: #ffd8f5;
        border-radius: 50%;
        margin: 0 auto;
        font-size: 28px;
        color:#ff39d7;
      }
    
      .box-btn a span:nth-child(2){
        width: 100%;
        text-align: center;
      }

			.snowfall-flakes:before{
				content: "";
				/*绝对定位*/
				position: absolute;
				left:0px;
				top: 0px;
				width: 10px;
				height: 16px;
				transform: rotate(-45deg);
				background-color: red;
				border-radius: 5px 5px 1px 1px;
			}
			.snowfall-flakes:after{
				content: "";   /*激活伪元素的必要因素*/
				position: absolute;
				left:0px;
				top: 0px;
				width: 10px;
				height: 16px;
				transform: translateX(4.3px) rotate(45deg);
				background-color: #ff8ae0;
				border-radius: 5px 5px 1px 1px;
			}